<!DOCTYPE html>
<html lang="en" emmet="html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <script src="/script/script.js"></script>
    <link rel="stylesheet" href="/style.css">
    <title>{{ title }}</title>
</head>
<body>
<div class="logo">
    <div class = "logo-flex">
        <img src="/img/phpEngine-logo.png">
        <!-- <p class="text-logo">PhpEngine-Demo</p> -->
    </div>
</div>
<div class="wrapper">
<div class="menu">
    <a href="/">Главная</a>
    <a href="/login">Вход </a>
    <a href="/register">Регистрация</a>
    <a href="/listusers">Список пользователей</a>


</div>

<div class="content">
    <div class="block">